<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        script(src="")
    body
        div this is pug
        form(action="/api/add", method="POST")
            input(type="text", name="text", id="text")
            input(type="submit", value="Add")

        div
            for i in data
                div #{i.TEXT}
